<%- include('../partials/header'); %>
  <div class=>
    <h1>Yeah! プレイリストを作成しました！</h1>
    <h6>
      <%= name %>
    </h6>
    <p>
      <img src="<%= imgurl %> "><br>
    </p>
  </div>
  <div class="text-center sign-in-btn">
    <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="<%= uri %> " role="button">Open URL</a>
    <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="/mypage" role="button">Mypageへ戻る</a>
  </div>

  <%- include('../partials/footer'); %>